@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

body {
    background-image: url("./img/52805477_9344748.jpg");
    background-repeat: repeat;
    background-size: contain;
    padding-bottom: 20px;

}

h1 {
    font-family: "Playwrite IT Moderna", cursive;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0.3);
    font-weight: 600;
    font-size: 90px;
    color: #9C6644;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: "Playwrite IT Moderna", cursive;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0.3);
    font-weight: 600;
    font-size: 40px;
    color: #9C6644;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-family: "Playwrite IT Moderna", cursive;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0.3);
    font-weight: 600;
    font-size: 30px;
    color: #9C6644;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.card {
    max-width: 350px;
    font-family: "Playwrite IT Moderna", cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #ede0d4;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0.2);
}

.card img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0.2);
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0px 8px 15px #9C6644;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.imagen img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0.2);
}

.imagen:hover {
    transform: translateY(-15px);
    box-shadow: 0px 8px 15px #9C6644;
}

.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    padding-bottom: 20px;
    background-color: #ede0d4;
    box-shadow: 0px 8px 15px #9C6644;
}
.horariomap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.horariomap p{
    font-family: "Playwrite IT Moderna", cursive;
    font-size: 20px;
    font: bold;
    font-weight: 600;
    color: #9C6644;
}
.formcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.form{
    display: flex;
    width: 600px;
    height: 500px;
    justify-content: center;
    
    align-items: center;
    flex-direction: column;
    font-family: "Playwrite IT Moderna", cursive;
    background-color: #ede0d4;
    box-shadow: 0px 8px 15px #9C6644;
}

.form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.form label{
    font-size: 20px;
    font: bold;
    font-weight: 900;
    color: #9C6644;
}

.form input{
    border-width: 1px;
    border-style: dashed;
    border-color: #9C6644;
    border-radius: 10px;
    font-size: 20px;
}

input:hover{
    background-color: #9C6644;
    color: #ede0d4;
}

input:focus{
    background-color: #9C6644;
    color: #ede0d4;
}


button {
    outline: none;
    color: #ede0d4;
    padding: 1em;
    font-family: "Playwrite IT Moderna", cursive;
    padding-left: 3em;
    padding-right: 3em;
    border: 2px dashed #ede0d4;
    border-radius: 15px;
    background-color: #9C6644;
    box-shadow: 0 0 0 4px #ede0d4, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 20px;
    font: bold;
    font-weight: 500;
}